@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

page-wrapper{
    min-height: 100%;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background:#1963E4;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #1963E4;
}

.left .content .fas{
    font-size: 1.125rem;
    background: #1a1a1a;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
  }
  .left .content .fas:hover{
    background: #1963E4;
  }

  .left .content .phone{
    text-align: justify;
    margin: 15px 0 0 0;
    margin-bottom: 1px;
    padding: 0 1px;
}

.left .content .email{
    text-align: justify;
    margin: 15px 0 0 0;
    padding: 0 1px;
}
.main-content .center{
    flex-basis: 40%;
}
.center .content .links ul a{
    margin-left: 40px;
    display: block;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    transition: all .2s;
}

.center .content .links ul a:hover{
    color: #d9d9d9;
    margin-left: 5px;
    transition: all .2s;
}

.main-content .right{
    flex-basis: 40%;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 15px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #1963E4;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #656565;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}

@media screen and (max-width: 800px) {
  footer{
    position: relative;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
