@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

/* Dropdown Button */
.dropbtn {
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.profile_dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* search bar*/

.form-inline .form-control{
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  font-size: 20px;
  font-style: italic;
  font-family: Raleway-SemiBold;
  border: 0;

}

.form-inline .btn{
  background-color: #1963E4;
  border-radius: 10px; 
  padding: 15px;
  font-size: 20px;
  font-family: Raleway-SemiBold;
  border: 0;
}

/* body*/
#page-wrapper {
  margin: 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 60% 20% ;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
}

#page-wrapper .column{
  border-radius: 8px;
  margin: 10px;
}
