@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

/* Navbar container */
.topnav-right {
  overflow: hidden;
  background-color: #333;
  float: right;
    margin-right: 300px;
}

/* Links inside the navbar */
.topnav-right a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.topnav-right a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow-y: visible;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* search bar*/

.form-inline .form-control{
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  font-size: 20px;
  font-style: italic;
  font-family: Raleway-SemiBold;
  border: 0;

}

.form-inline .btn{
  background-color: #1963E4;
  border-radius: 10px; 
  padding: 15px;
  font-size: 20px;
  font-family: Raleway-SemiBold;
  border: 0;
}

/* body*/
#page-wrapper {
  margin: 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 60% 20% ;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
}

#page-wrapper .column{
  border-radius: 8px;
  margin: 10px;
}
