@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

body {
  font-family: Raleway-Semibold;
}

#main{
    margin-left: 400px;
    text-align: left;
}

#wrap{
    text-align: center;
    background-size: 100%;
    background-image: url("/ip/img/bg_4.jpeg");
    filter: brightness(90%);
    opacity: 0.8;
    height: 800px;
}

#dream{
    font-size: 60px;
    color: black;
    font-weight: 900;
    font-family: Raleway-Black;
}

#wait{
    font-size: 60px;
    color: black;
    font-weight: lighter;
    font-family: Raleway-Black;
}

#p1{
    font-size: 30px;
    color: black
}

.topnav {
    position: relative;
    overflow: visible;
    
  }
  
  .topnav a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  
  .topnav a.active {
    font-weight: bolder;
    color: black;
  }

  .topnav-right {
    float: right;
    margin-right: 300px;
  }

  
  .navbar {
    float: right;
    margin-right: 300px;
  }

  .topnav-left{
    float: left;
    margin-left: 400px;
  }


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
    width: 15%;
    height: 20%;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
}
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    float: left;
    padding: 2px 16px;
}

#info{
    text-align: left;
    margin-left: 250px;
}

#infobg{
    background-color:lightgray;
    width: 100%;
    height: 500px;
}

#current{
    background-color:white;
    width: 100%;
    height: 500px;
    text-align: center;
}

.category{
    list-style-type: none;
}

.cat{
    margin-left:250px;
}

.category{
    float: left;
    margin-right: 80px;
}

.cat-but{
    background-color:white;
    color: black;
    border: solid gray 1px;
    text-decoration: none;
    padding: 14px 16px;
    border-radius: 25px;
}

#row{
  text-align: center;
}
  
#foot{
  background-color: black;
  text-align: center;
  color: aliceblue;  
  vertical-align: middle;
}
