@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

body {
  background-color: #fafafa;
  font-family :'Poppins';
}

#main{
    margin-left: 400px;
    text-align: left;
}

#wrap{
    text-align: center;
    background-size: 100%;
    background-image: url("/ip/img/bg_4.jpeg");
    filter: brightness(90%);
    opacity: 0.8;
    height: auto;
    padding-bottom: 5%;
}

#dream{
    font-size: 70px;
    color: black;
    font-weight: 900;
    font-family: 'Poppins';
}

#wait{
    font-size: 60px;
    color: black;
    font-family: 'Poppins';
}

#p1{
    font-size: 30px;
    color: black
}

.topnav {
    position: relative;
    overflow: visible;
    
  }
  
  .topnav a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  
  .topnav a.active {
    font-weight: bolder;
    color: black;
  }

  .topnav-right {
    float: right;
    margin-right: 300px;
  }

  
  .navbar {
    float: right;
    margin-right: 300px;
  }

  .topnav-left{
    float: left;
    margin-left: 400px;
  }

  .topnav .icon {
  display: none;
}



  .infobg{
    padding-bottom: 3%;
}

  .info{
    height:400px;
    width: 88%;
    text-align: left;
    margin-left: 110px;
    margin-right: 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    transition: 0.3s;
    float: left;
    width: 20%;
    height: auto;
    margin-left: 10%;
    margin-top: 38px;
    margin-bottom: 38px;
    background-color: white;
}
 
.card img{
  
  align-content: center;
  height: 100px ;
  width: 100px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 115px;
  margin-right: 105px;

}
.card #info-head{
  font-size: 25px;
  font-family :'Poppins';
}
.card .container{
  height: 220px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  float: left;
  padding: 2px 16px;
}

/*slider*/
.page-wrapper .title a:hover{
  color: #3498db;
}

.post-slider{
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 30px;
  background-color: #d7effc;
  padding: 2%;
}
.post-slider .prev{
  position: absolute;
  top: 1450px;
  left: 110px;
  font-size: 2em;
  color: #3498db;
  cursor: pointer;
}
.post-slider .next{
  position: absolute;
  top: 1450px;
  right: 110px;
  font-size: 2em;
  color: #3498db;
  cursor: pointer;
}
.post-slider .slider-title{
  font-family: 'Poppins';
  font-weight: lighter;
  margin : 15px auto;
  text-align: center;
  font-size: 30px;
  color: black;
}
.post-slider .post-wrapper{
  width: 88%;
  height: auto;
  margin: 0px auto;
  overflow: hidden;
  padding: 12px 0px 12px 0px;
}
.post-slider .post-wrapper .post{
  display: inline-block;
  width: 200px;
  height: 470px;
  margin: 0 15px;
  background-color:#ffffff;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem grey;
}
.post-slider .post-wrapper .post .slider-image{
  width: 100%;
  height: 220px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.post-slider .post-wrapper .post .content p ,.title, .title a, .author, .newssrc, .pub, .btn button{
  color:black;
}

.post-slider .post-wrapper .post .content{
  padding: 6px 6px 6px 6px;
  font-size: 14px;
  text-align: center;
  line-height: 1.8;
}

.post .content .title a{
  margin-top: 8px;
  text-decoration: none;
}

.post .content .author{
  margin-top: 8px;
}
.post .content .btn button{
  position: fixed;
  bottom: 2%;
  align-self: center;
  font-size: 18px;
  height: 8%;
  width: 120px;
  padding:3px 3px 3px 3px;
  border-radius: 7px;
  border: none;
  background-color: #1780e8;
  color: white;
  transition: 0.2s;
  
}
.post .content .btn button:hover{
  transform: scale(0.9);
}

#current{
    height: 450px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    border:1px - black;
}

.head {
  text-align: center;
}

.head .heading{
  color: black;
  font-family: 'Poppins';
  font-weight: lighter;
  font-size: 30px;
}

.category{
    width: 250px;
    height: 320px;
    float: left;
    list-style-type: none;
    margin-left: 11%;
    margin-right: 2%;
}

.cat-but{
    width: 200px;
    font-size: 18px;
    color: #1963E4;
    border: solid black 2px;
    text-decoration: none;
    padding: 15px 18px;
    border-radius: 25px;
    background-color: #f2f2f2;
}

#row{
  text-align: center;
}
  
/*-----responsive -----*/
  @media screen and (max-width: 700px) {
    .topnav {
      overflow: hidden;
    }
    .topnav-left {
      width: auto;
      float: left;
      margin-left: 0px;
      top: 0;

      }
    .topnav-right{
      margin-right: 0px;
    }
    .topnav-right a {display: none;}
    .topnav-right a.icon {
      margin-right: 0;
        float: right;
        display: block;
  }
}

@media screen and (max-width: 700px) {
  .topnav-right.responsive {position: relative;}
  .topnav-right.responsive .icon {
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav-right.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 700px){
  #main{
    margin-left: 20px;
    text-align: left;
  }
  #wrap{
    text-align: center;
    background-size: 120%;
    background-repeat: no-repeat;
    padding-bottom: 20%;
  }

  #dream{
      font-size: 30px;
      position: fixed;
  }

  #wait{
      font-size: 30px;
      margin-left: 180px;
      position: fixed;
  }

  #p1{
      font-size: 15px;
  }
}

@media screen and (max-width: 700px){
  .info{
    height:400px;
    width: 88%;
    text-align: left;
    margin-left: 110px;
    margin-right: 100px;
}

.card {
    width: 55%;
    height: auto;
    margin-left: 10%;
    margin-left: 10%;
}
 .post-slider{
  position: relative;
  margin-top: 155%;
}
.post-slider .prev{
  position: absolute;
  top: 300px;
  left: 40px;
}
.post-slider .next{
  position: absolute;
  top: 300px;
  right: 40px;
}

.post-slider .post-wrapper{
  width: 80%;
  height: auto;
}
#current{
    height: 1200px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    
}


}