@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

body {
  font-family: Raleway-Semibold;
  background-color: #fafafa;
}

#main{
    margin-left: 400px;
    text-align: left;
}

#wrap{
    text-align: center;
    background-size: 100%;
    background-image: url("/ip/img/bg_4.jpeg");
    filter: brightness(90%);
    opacity: 0.8;
    height: 800px;
}

#dream{
    font-size: 60px;
    color: black;
    font-weight: 900;
    font-family: Raleway-Black;
}

#wait{
    font-size: 60px;
    color: black;
    font-weight: lighter;
    font-family: Raleway-Black;
}

#p1{
    font-size: 30px;
    color: black
}

.topnav {
    position: relative;
    overflow: visible;
    
  }
  
  .topnav a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  
  .topnav a.active {
    font-weight: bolder;
    color: black;
  }

  .topnav-right {
    float: right;
    margin-right: 300px;
  }

  
  .navbar {
    float: right;
    margin-right: 300px;
  }

  .topnav-left{
    float: left;
    margin-left: 400px;
  }


  .infobg{
    margin-left: 20px;
    margin-right: 20px;
}

  .info{
    height:400px;
    width: 88%;
    text-align: left;
    margin-left: 110px;
    margin-right: 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
    width: 350px;
    height: 320px;
    margin-left: 110px;
    margin-top: 38px;
    margin-bottom: 10px;
    background-color: white;
}
 
.card img{
  height: 100px ;
  width: 100px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 115px;
  margin-right: 105px;

}
.card #info-head{
  font-size: 25px;
}
.card .container{
  height: 220px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: aqua;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  float: left;
  padding: 2px 16px;
}

/*slider*/
.page-wrapper .title a:hover{
  color: #3498db;
}

.post-slider{
  margin-left: 25px;
  margin-right: 25px;
  border: solid 1px black;
  background-color: #d7effc;
}
.post-slider .prev{
  position: absolute;
  top: 1550px;
  left: 45px;
  font-size: 2em;
  color: #3498db;
  cursor: pointer;
}
.post-slider .next{
  position: absolute;
  top: 1550px;
  right: 45px;
  font-size: 2em;
  color: #3498db;
  cursor: pointer;
}
.post-slider .slider-title{
  font-family: Raleway-Black;
  font-weight: lighter;
  margin : 15px auto;
  text-align: center;
  font-size: 30px;
  color: black;
}
.post-slider .post-wrapper{
  width: 88%;
  height: 520px;
  margin: 0px auto;
  overflow: hidden;
  padding: 12px 0px 12px 0px;
}
.post-slider .post-wrapper .post{
  display: inline-block;
  width: 200px;
  height: 480px;
  margin: 0 15px;
  background-color:#ffffff;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem grey;
}
.post-slider .post-wrapper .post .slider-image{
  width: 100%;
  height: 220px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.post-slider .post-wrapper .post .content p ,.title, .title a, .author, .newssrc, .pub, .btn button{
  color:black;
}

.post-slider .post-wrapper .post .content{
  padding: 6px 6px 6px 6px;
  font-size: 17px;
  text-align: center;
  line-height: 1.8;
}

.post .content .title a{
  margin-top: 8px;
  text-decoration: none;
}

.post .content .author{
  margin-top: 8px;
}
.post .content .btn button{
  margin-top: 20px;
  font-size: 18px;
  height: 40px;
  width: 120px;
  padding:3px 3px 3px 3px;
  background-color: #1963E4;
  color: white;
  transition: 0.2s;
}
.post .content .btn button:hover{
  transform: scale(0.9);
}

#current{
    margin-left: 450px;
    margin-right: 450px;
    height: 480px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
}

.head {
  text-align: center;
}

.head .heading{
  color: black;
  font-family: Raleway-Black;
  font-weight: lighter;
  font-size: 30px;
}

.category{
    width: 250px;
    height: 320px;
    float: left;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 23px;
}

.cat-but{
    width: 200px;
    font-size: 19px;
    color: #1963E4;
    border: solid black 2px;
    text-decoration: none;
    padding: 15px 18px;
    border-radius: 25px;
    background-color: #f2f2f2;
}

#row{
  text-align: center;
}
  
