.main_content{
	width: 40%;
	margin-left: 30%;
	margin-top: 200px;
	background-color: #FBEEE9;
	border-radius: 10px;
}
.form-design{
	padding: 5px;
	font-size: 20px;
	width: 80%;
	margin-left: 10%;
}
.btn-login{
	padding: 5px 15px 5px 15px;
	font-size: 20px;
	background-color: grey; 
	margin-bottom: 40px;
	align-content: center;
}